*~
a.out
/gcctest.s
/*.good
/pts-tcc
/pts-tcc.ubr
/pts-tcc.uncompressed
/pts-tcc-minid.unc
/pts-tcc-minid.ubr
/pts-tcc-minil.unc
/pts-tcc-minil.ubr
/tcc-0.9.26
/tcclibc
/dl
# Without this /orig, `git status' ignores the more specific items below.
/orig
/orig/tcc-0.9.26/*.c
/orig/tcc-0.9.26/*.h
/orig/tcc-0.9.26/configure
